<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "script" %>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet"> 
</head>

<body>

<div class="header">
  <div class="text-container">
   <h1 class="title"> Weather of 10 Cities<h1>
<h1>
<table class="format">

  <tr>
    <th>HTTP</th>
    <th>JSON</th>
    <th>CSV</th>
  </tr>

 <tr>
  <td> <a class="arrow" href="#section2"><span></span>&#9660;</a></td>
  <td> <a class="arrow" href="#section3"><span></span>&#9661;</a></td>
  <td> <a class="arrow" href="#section4"><span></span>&#9662;</a></td>

</tr>

</table>
</h1>
  </div>
</div>

<section id="section2">

<table class="HTTP Table">

  <tr>
    <th>City Name</th>
    <th>Pressure</th>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Percentage Cloud Cover</th>
  </tr>

<% @lookup.each do |l| %>
  <tr>
    <td><%= l["name"] %></td>
    <td><%= l["main"]["pressure"] %></td>
    <td><%= l["main"]["temp"] %></td>
    <td><%= l["main"]["humidity"] %></td>
    <td><%= l["clouds"]["all"] %></td>
  </tr>
<% end %>

</table>
</section>


<section id="section3">

<table class="JSONTable">

  <tr>
    <th>JSON</th>
  </tr>

<% @lookupj.each do |l| %>
  <tr>
    <td><%= l %></td>
  </tr>
<% end %>

</table>
</section>


<section id="section4">

<table class="CSVTable">

  <tr>
    <th>CSV</th>
  </tr>


  <tr>
    <td><%=  @lookupc %></td>
  </tr>


</table>
</section>



</body>
</html>




